<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fish Detector Pro</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100;500&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
  <link href="static/Main.css" rel="stylesheet">
  <style>
    .vertical-flex {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .container {
     padding:20px;
    }

    .flex-grow {
      flex-grow: 1;
    }
    #imagePreview {
      width: 300px; 
      height: 250px; 
    }
    #profile{
      border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 25px ;
  background-color: #f8f9fa;
    }

    .shadow {
      box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    }

  
      .center-text {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 50vh; 
        font-size: 2rem; 
      }

      .b{
        background-color:white;
      }

      .nav nav-tabs{
        text-color:black;
        background-color:white;
        display:flex;
      }
    

  
  </style>
</head>

<body class="vertical-flex" style="background-image: url({{url_for('static',filename='images/b1.jpg')}}); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="bg-primary">
    <nav class="navbar bg-primary text-white py-1" data-bs-theme="primary">
      <div class="d-flex">
        <img src="static/images/fishlogo.avif" alt="Fish Detector Pro Logo" width="70" height="70">
        <div class="col-8 d-flex">
          <div class="navbar-brand bg-primary text-white py-2">
            <h5 class="mb-0">Composited Fish-Net</h5>
            <h3 class="mb-0">Fish Detector Pro</h3>
          </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <a href="/" class="btn btn-outline-light">Log Out</a>
      </div>
    </nav>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">HOME</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ABOUT US</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">INSERT IMAGE</a>
    </li>
  </ul>
  <div class="tab-content flex-grow" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      
              <div class="center-text"><i><b class="b">Explore the Aquatic world of Underwater Species...</b></i></div>
           
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h1>About Composited Fish-Net</h1>

      <h2>Our Mission</h2>
      <p>At Fish Detector Pro, we are dedicated to revolutionizing fish detection and species recognition through cutting-edge technology and innovative solutions. Our mission is to contribute to the advancement of aquatic research and conservation efforts by providing reliable and efficient tools for fish detection and analysis.</p>
    
      <h2>Who We Are</h2>
      <p>Composited Fish-Net is a team of passionate individuals comprising experts in artificial intelligence, marine biology, and technology. We combine our diverse expertise to create a platform that harnesses the power of machine learning and computer vision to accurately identify fish species and support environmental sustainability.</p>
    
      <h2>What We Offer</h2>
      <ul>
        <li><strong>Advanced Technology:</strong> Our platform integrates state-of-the-art algorithms and deep learning models, such as MobileNetV2, to deliver high-performance fish detection and species recognition capabilities.</li>
        <li><strong>Real-time Analysis:</strong> We provide real-time analysis of underwater images, enabling researchers, conservationists, and fisheries management teams to make informed decisions swiftly.</li>
        <li><strong>User-Friendly Interface:</strong> Our intuitive user interface makes it easy for users to upload images, receive instant predictions, and access detailed insights into fish species composition.</li>
        <li><strong>Data-driven Insights:</strong> Fish Detector Pro generates comprehensive reports and data visualizations, empowering users with actionable insights for research, conservation planning, and ecosystem monitoring.</li>
      </ul>
    
      <h2>Our Vision</h2>
      <p>We envision a future where technology plays a pivotal role in preserving aquatic ecosystems and promoting sustainable fisheries management. Through continuous innovation and collaboration, Fish Detector Pro aims to be a driving force in the realm of fish detection and species recognition, contributing significantly to global conservation efforts.</p>
    
      <h2>Get in Touch</h2>
      <p>For inquiries, collaborations, or feedback, please contact us at <a href="mailto:contact@fishdetectorpro.com">contact@fishdetectorpro.com</a>. Follow us on social media for updates and insights into our ongoing projects.</p>
    </div>
    <div class="tab-pane fade text-center" id="contact" role="tabpanel" aria-labelledby="upload image-tab" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            
      <form id="uploadForm" action="/predict" method="POST" enctype="multipart/form-data"  class="bg-light p-4 rounded shadow">
        <h2 class="text-center mb-4"><i><b>Insert Image for Fish Analysis</b></i></h2> <!-- Title -->

  
        <div class="form-group">
          <label for="imageUpload">Choose an image file:</label>
          <input type="file" name="imageFile" id="imageUpload" accept="image/*" required>
     
        </div>

      <div id="imagePreviewContainer">
        <img id="imagePreview" src="#" alt="Image Preview" class="img-fluid rounded" >
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Upload</button>
      <br/>
      <br/>
      <b><i><div id="predictionResult"><br></div></i><b>
    </div>
  </div>
</div>
</div>
</div>
 

  <footer class="text-center bg-primary text-white py-3">
    <p class="small">&copy; 2024 Fish Detection Platform. All rights reserved.</p>
    <i class="bi bi-twitter"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-youtube"></i>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script>
    document.getElementById('uploadForm').addEventListener('submit', async (e) => {
      e.preventDefault();
  
      const formData = new FormData();
      const imageUploadInput = document.getElementById('imageUpload');
      const imagePreview = document.getElementById('imagePreview');
      const allowedFormats = ['jpg', 'jpeg', 'png','gif'];
  
      if (imageUploadInput.files.length > 0) {
        const selectedFile = imageUploadInput.files[0];
        const fileExtension = selectedFile.name.split('.').pop().toLowerCase();
  
        if (!allowedFormats.includes(fileExtension)) {
          alert('Only JPG, JPEG, and PNG files are allowed.');
          return; // Stop form submission
        }
  
        // Update image preview
        const reader = new FileReader();
        reader.onload = function (e) {
          imagePreview.src = e.target.result;
        };
        reader.readAsDataURL(selectedFile);
  
        // Append file to form data
        formData.append('file', selectedFile);
      } else {
        alert('Please select an image file.');
        imagePreview.src = '#'; // Clear image preview if no file selected
        return; // Stop form submission
      }
  
      const response = await fetch('/predict', {
        method: 'POST',
        body: formData,
      });
  
      const data = await response.json();
  
      document.getElementById('predictionResult').innerHTML = `<p>Prediction: ${data.prediction}</p>`;
    });
  </script>
  
</body>

</html>
